/***** BASE STYLES *****/

body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    padding: 1em;
    margin: 0 auto;
    background: #ffffff;
}

header {
    background-color: #ffffff;
    float: left;
    padding: 40px 20px 40px 0px;
}

.advice {
    background-color: #d8fffe;
    clear: both;
    float: left;
    padding: 0 20px 20px 20px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5em;
    color: #333;
    margin-top: 1em;
    padding-left: 20px;
}

h1 span {
    color: #ff6d6d;
    font-family: 'Dancing Script', cursive;
    font-size: 1.25em;
    font-weight: 700;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: #ff6d6d;
    margin: 40px 0 20px 0;
}

a {
    text-decoration: none;
    color: #00b3ad;
}

a:hover {
    color: #ffdaa1;
  }

footer {
    border-top: solid 2px #ffdaa1;
    clear: both;
    margin-top: 2em;
    padding-top: .75em;
    text-align: center;
}
